*.rbxm
*.rbxl
*.rbxlx
*.rbxl.lock
*.rbxlx.lock
*.ps1
sourcemap.json
Packages/
internal/
node_modules/
package-lock.json
.vscode/

*.exe
*.md
profile.out
callgrind.out
coverage.out
trace.json
stats.json
